.show-more {
  position: relative;
  display: none;
  width: 60px;
  height: 60px;
  margin-top: 40px;
  @include border ($color: $color-border-dark, $radius: 50%);

  @include media-big-mobile {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    width: 24px;
    height: 24px;
    @include background-image (url("../assets/svg/refresh.svg"));

    @include media-big-mobile {
      display: inline-block;
    }
  }
}
