html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a,
button {
  @extend %transition;
}

input {
  outline:none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-width: 380px;
  @extend %font-prim;
  @include font($size: 16px, $height: 24px);
  color: $color-dark;
  background-color: $color-light;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.main-title {
  @include font($weight: 600, $size: 72px, $height: 105%);

  @include media-big-mobile {
    font-size: 42px;
    line-height: 115%;
  }
}

.title {
  @include font($weight: 600, $size: 60px, $height: 125%);

  @include media-big-mobile {
    font-size: 32px;
  }

}

.small-title {
  @include font($weight: 600, $size: 24px, $height: 125%);
}

.text-accent {
  font-style: italic;
  color: $color-accent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
