.footer__wrap {
  @include flex(100px);
  padding: 100px;
  background: $color-border-dark;
  border-radius: 40px;

  &--menu {
    padding: 97px;
  }

  @include media-tablet {
    display: block;
    padding: 100px 60px;
    padding-bottom: 105px;
  }

  @include media-big-mobile {
    padding: 60px 16px 65px 16px;
  }
}

.footer__left {
  flex-basis: 50%;

  @include media-tablet {
    margin-bottom: 95px;
  }

  @include media-big-mobile {
    margin-bottom: 40px;
  }

  @include media-big-mobile {
    margin-bottom: 35px;
  }
}

.footer__title {
  margin-bottom: 40px;
  letter-spacing: 0.5px;
  color: $color-light;

  @include media-big-mobile {
    letter-spacing: 0;
  }
}

.footer__right {
  flex-basis: 50%;
  color: $color-light;
}

.footer__subtitle {
  margin-bottom: 35px;
  letter-spacing: 0.3px;
}




