.header__container {
  @extend %flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
  width: 100px;
  height: 60px;
}

.header__menu {
  position: relative;
  // font-weight: 600;
  // padding: 5px;
  padding: 0;
  padding-right: 28px;

  @include media-tablet {
    padding-right: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    @include background-image (url("../assets/svg/coffee-cup.svg"));

    @include media-tablet {
      background-image: url("../assets/svg/coffee-cup-tablet.svg");
      width: 40px;
      height: 40px;
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 2px;
  //   width: 100%;
  //   background-color: $color-dark;
  //   transform: scaleX(0);
  //   @extend %transition;
  // }

  // &:hover::before {
  //   transform: scaleX(1);
  // }
}

.header__text {
  position: relative;
  font-weight: 600;
  padding-bottom: 5px;
  padding-right: 28px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    @include background-image (url("../assets/svg/coffee-cup.svg"));
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: $color-dark;

  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 66%;

  @include media-tablet {
    opacity: 0;
    position: fixed;
    right: 0;
    top: 80px;
    width: 100%;
    height: 924px;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    gap: 95px;
    flex-basis: 100%;
    padding: 62px 40px;
    background-color: $color-light;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.4s ease;
    font-size: 32px;
    line-height: 125%;
  }
}

.header__nav--active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
