.header__container {
  @extend %flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
  width: 100px;
  height: 60px;
}

.header__menu {
  position: relative;
  padding: 0;
  padding-right: 28px;

  @media (max-width: 768px) {
    padding-right: 57px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    @include background-image (url("../assets/svg/coffee-cup.svg"));

    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}

.header__text {
  position: relative;
  font-weight: 600;
  padding-bottom: 5px;
  padding-right: 28px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    @include background-image (url("../assets/svg/coffee-cup.svg"));

    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: $color-dark;
  }

  @media (max-width: 768px) {
    padding-right: 57px;
    font-size: 32px;
    line-height: 125%;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 66%;
  flex-shrink: 0;

  @media (max-width: 1200px) {
    flex-basis: 70%;
  }

  @include media-tablet {
    flex-basis: 77%;
  }

  @media (max-width: 768px) {
    opacity: 0;
    position: fixed;
    right: 0;
    top: 98px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    gap: 97px;
    flex-basis: 100%;
    padding: 62px 40px;
    background-color: $color-light;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }
}

.header__nav--active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
