.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    opacity: 0;
    position: fixed;
    right: 0;
    top: 80px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    gap: 95px;
    flex-basis: 100%;
    padding: 62px 40px;
    background-color: $color-light;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.4s ease;
    font-size: 32px;
    line-height: 125%;
  }
}

.nav--active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.nav__list {
  @extend %flex;
  gap: 33px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 60px;
  }
}

.nav__item {
  padding: 5px;

  @include media-tablet {
    padding: 0;
  }
}

.nav__link {
  position: relative;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 2px;
    width: 100%;
    background-color: $color-dark;
    transform: scaleX(0);
    @extend %transition;
  }

  // &:hover::after {
  //   transform: scaleX(1);
  // }

  @media (hover: hover) {
    &:hover::after  {
      transform: scaleX(1);
    }
  }
}
