.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.nav__list {
  @extend %flex;
  gap: 33px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 60px;
  }
}

.nav__item {
  padding: 5px;

  @include media-tablet {
    padding: 0;
  }
}

.link {
  position: relative;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 2px;
    width: 100%;
    background-color: $color-dark;
    transform: scaleX(0);
    @extend %transition;
  }

  @media (hover: hover) {
    &:hover::after  {
      transform: scaleX(1);
    }
  }

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 125%;
  }
}
