$color-dark: #403F3D;
$color-light: #E1D4C9;
$color-accent: #B0907A;
$color-border-dark: #665F55;
$color-border-light: #C1B6AD;

$content-width: 1440px;
$tablet-width: 1024px;
$mobile-big-width: 767px;
$mobile-small-width: 576px;
